In [1]:
#provisional concept from
#https://thecleverprogrammer.com/2021/02/13/hotel-recommendation-system-with-machine-learning/

In [ ]:
import pandas as pd
import numpy as np

In [2]:
url= "https://ralston-hotel-data-bucket.s3.amazonaws.com/Hotel_Reviews_Clean.csv"

In [3]:
hotel_df = pd.read_csv(url)

In [4]:
hotel_df.head()

,Unnamed: 0,Hotel_Address,Additional_Number_of_Scoring,Review_Date,Average_Score,Hotel_Name,Reviewer_Nationality,Negative_Review,Review_Total_Negative_Word_Counts,Total_Number_of_Reviews,Positive_Review,Review_Total_Positive_Word_Counts,Total_Number_of_Reviews_Reviewer_Has_Given,Reviewer_Score,Tags,days_since_review,lat,lng,Hotel_Country,Sentiment
0,0,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,2017-08-03,7.7,Hotel Arena,Russia,I am so angry that i made this post available...,397,1403,Only the park outside of the hotel was beauti...,11,7,2.9,"[' Leisure trip ', ' Couple ', ' Duplex Double...",0 days,52.360576,4.915968,Netherlands,Negative
1,1,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,2017-08-03,7.7,Hotel Arena,Ireland,No Negative,0,1403,No real complaints the hotel was great great ...,105,7,7.5,"[' Leisure trip ', ' Couple ', ' Duplex Double...",0 days,52.360576,4.915968,Netherlands,Positive
2,2,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,2017-07-31,7.7,Hotel Arena,Australia,Rooms are nice but for elderly a bit difficul...,42,1403,Location was good and staff were ok It is cut...,21,9,7.1,"[' Leisure trip ', ' Family with young childre...",3 days,52.360576,4.915968,Netherlands,Positive
3,3,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,2017-07-31,7.7,Hotel Arena,United Kingdom,My room was dirty and I was afraid to walk ba...,210,1403,Great location in nice surroundings the bar a...,26,1,3.8,"[' Leisure trip ', ' Solo traveler ', ' Duplex...",3 days,52.360576,4.915968,Netherlands,Negative
4,4,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,2017-07-24,7.7,Hotel Arena,New Zealand,You When I booked with your company on line y...,140,1403,Amazing location and building Romantic setting,8,3,6.7,"[' Leisure trip ', ' Couple ', ' Suite ', ' St...",10 days,52.360576,4.915968,Netherlands,Positive

In [5]:
#create random sample of original dataset - 5% sample
hotel_sample_df = hotel_df.sample(frac=.05)

In [6]:
hotel_sample_df.head()

,Unnamed: 0,Hotel_Address,Additional_Number_of_Scoring,Review_Date,Average_Score,Hotel_Name,Reviewer_Nationality,Negative_Review,Review_Total_Negative_Word_Counts,Total_Number_of_Reviews,Positive_Review,Review_Total_Positive_Word_Counts,Total_Number_of_Reviews_Reviewer_Has_Given,Reviewer_Score,Tags,days_since_review,lat,lng,Hotel_Country,Sentiment
417568,419292,Prins Hendrikkade 33 Amsterdam City Center 101...,482,2017-03-29,9.0,art otel Amsterdam,United Kingdom,Nothing,2,3158,It s funky And above all great people,10,4,9.6,"[' Leisure trip ', ' Couple ', ' Art King Room...",127 day,52.377743,4.897057,Netherlands,Positive
260657,261039,92 Rue La Boetie 8th arr 75008 Paris France,88,2016-04-04,8.5,Rochester Champs Elysees,Puerto Rico,No A C in rooms Breakfast very expensive Incl...,15,570,No Positive,0,1,8.8,"[' Leisure trip ', ' Couple ', ' Classic Room ...",486 day,48.872495,2.309155,France,Positive
419447,421171,Prinsengracht 444 Amsterdam City Center 1017 K...,278,2016-08-23,8.4,Dikker en Thijs Fenice Hotel,Australia,The shower slow drainage grout needs cleaning...,14,1971,The location,3,5,6.7,"[' Leisure trip ', ' Couple ', ' Basic Double ...",345 day,52.364971,4.883983,Netherlands,Positive
271948,272330,Apollolaan 2 Oud Zuid 1077 BA Amsterdam Nether...,419,2015-09-24,8.2,Apollo Hotel Amsterdam,Netherlands,No Negative,0,2968,Hot chicks,3,3,7.5,"[' Business trip ', ' Solo traveler ', ' Stand...",679 day,52.348610,4.884429,Netherlands,Positive
304134,304662,Corso Giacomo Matteotti 4 6 Milan City Center ...,122,2016-04-03,7.9,Boscolo Milano Autograph Collection,Egypt,Our pickup car from centeral train station di...,32,1213,Location is fantastic Concerge team are very ...,22,6,8.3,"[' Leisure trip ', ' Couple ', ' Panorama Gues...",487 day,45.466760,9.194293,Italy,Positive

In [7]:
from ast import literal_eval

In [8]:
def impute(column):
    column = column[0]
    if (type(column) != list):
        return "".join(literal_eval(column))
    else:
        return column
    
hotel_sample_df["Tags"] = hotel_sample_df[["Tags"]].apply(impute, axis=1)
hotel_sample_df.head()

,Unnamed: 0,Hotel_Address,Additional_Number_of_Scoring,Review_Date,Average_Score,Hotel_Name,Reviewer_Nationality,Negative_Review,Review_Total_Negative_Word_Counts,Total_Number_of_Reviews,Positive_Review,Review_Total_Positive_Word_Counts,Total_Number_of_Reviews_Reviewer_Has_Given,Reviewer_Score,Tags,days_since_review,lat,lng,Hotel_Country,Sentiment
417568,419292,Prins Hendrikkade 33 Amsterdam City Center 101...,482,2017-03-29,9.0,art otel Amsterdam,United Kingdom,Nothing,2,3158,It s funky And above all great people,10,4,9.6,Leisure trip Couple Art King Room Stayed 2...,127 day,52.377743,4.897057,Netherlands,Positive
260657,261039,92 Rue La Boetie 8th arr 75008 Paris France,88,2016-04-04,8.5,Rochester Champs Elysees,Puerto Rico,No A C in rooms Breakfast very expensive Incl...,15,570,No Positive,0,1,8.8,Leisure trip Couple Classic Room Stayed 6 ...,486 day,48.872495,2.309155,France,Positive
419447,421171,Prinsengracht 444 Amsterdam City Center 1017 K...,278,2016-08-23,8.4,Dikker en Thijs Fenice Hotel,Australia,The shower slow drainage grout needs cleaning...,14,1971,The location,3,5,6.7,Leisure trip Couple Basic Double Room Stay...,345 day,52.364971,4.883983,Netherlands,Positive
271948,272330,Apollolaan 2 Oud Zuid 1077 BA Amsterdam Nether...,419,2015-09-24,8.2,Apollo Hotel Amsterdam,Netherlands,No Negative,0,2968,Hot chicks,3,3,7.5,Business trip Solo traveler Standard Room ...,679 day,52.348610,4.884429,Netherlands,Positive
304134,304662,Corso Giacomo Matteotti 4 6 Milan City Center ...,122,2016-04-03,7.9,Boscolo Milano Autograph Collection,Egypt,Our pickup car from centeral train station di...,32,1213,Location is fantastic Concerge team are very ...,22,6,8.3,Leisure trip Couple Panorama Guest room 1 K...,487 day,45.466760,9.194293,Italy,Positive

In [9]:
hotel_sample_df['Hotel_Country'] = hotel_sample_df['Hotel_Country'].str.lower()
hotel_sample_df['Tags'] = hotel_sample_df['Tags'].str.lower()

In [10]:
import nltk
nltk.download('wordnet')
import numpy as np
import pandas as pd
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
from nltk.stem.wordnet import WordNetLemmatizer
from ast import literal_eval

[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\neil.ralston.MAC\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

In [36]:
def recommend_hotel(location, description):
    description = description.lower()
    word_tokenize(description)
    stop_words = stopwords.words('english')
    lemm = WordNetLemmatizer()
    filtered  = {word for word in description if not word in stop_words}
    filtered_set = set()
    for fs in filtered:
        filtered_set.add(lemm.lemmatize(fs))
        
    country = hotel_sample_df[hotel_sample_df["Hotel_Country"]==location.lower()]
    country = country.set_index(np.arange(country.shape[0]))
    list1 = []; list2 = []; cos = [];
    for i in range(country.shape[0]):
        temp_token = word_tokenize(country["Hotel_Country"][i])
        temp_set = [word for word in temp_token if not word in stop_words]
        temp2_set = set()
        for s in temp_set:
                temp2_set.add(lemm.lemmatize(s))
        vector = temp2_set.intersection(filtered_set)
        cos.append(len(vector))
    country['similarity']=cos
    country = country.sort_values(by='similarity', ascending=False)
    country.drop_duplicates(subset='Hotel_Name', keep='first', inplace=True)
    country.sort_values('Average_Score', ascending=False, inplace=True)
    country.reset_index(inplace=True)
    return country[["Hotel_Name", "Average_Score", "Hotel_Address"]].head()

In [38]:
recommend_hotel('UK', 'pool')

,Hotel_Name,Average_Score,Hotel_Address
0,Haymarket Hotel,9.6,1 Suffolk Place Westminster Borough London SW1...
1,41,9.6,41 Buckingham Palace Road Westminster Borough ...
2,Ham Yard Hotel,9.5,One Ham Yard Westminster Borough London W1D 7D...
3,Taj 51 Buckingham Gate Suites and Residences,9.5,Buckingham Gate Westminster Borough London SW1...
4,Milestone Hotel Kensington,9.5,1 Kensington Court Kensington and Chelsea Lond...

In [ ]:
#finds hotels by country, not making recommendations based on description

In [83]:
#country only
def hotel_country(location):
    stop_words = stopwords.words('english')
    lemm = WordNetLemmatizer()
    filtered  = {word for word in location if not word in stop_words}
    filtered_set = set()
    for fs in filtered:
        filtered_set.add(lemm.lemmatize(fs))
       
    country = hotel_sample_df[hotel_sample_df["Hotel_Country"]==location.lower()]
    country = country.set_index(np.arange(country.shape[0]))
    list1 = []; list2 = []; cos = [];
    for i in range(country.shape[0]):
        temp_token = word_tokenize(country["Hotel_Country"][i])
        temp_set = [word for word in temp_token if not word in stop_words]
        temp2_set = set()
        for s in temp_set:
                temp2_set.add(lemm.lemmatize(s))
        vector = temp2_set.intersection(filtered_set)
        cos.append(len(vector))
    country['similarity']=cos
    country = country.sort_values(by='similarity', ascending=False)
    country.drop_duplicates(subset='Hotel_Name', keep='first', inplace=True)
    country.sort_values('Average_Score', ascending=False, inplace=True)
    country.reset_index(inplace=True)
    return country[["Hotel_Name", "Average_Score", "Hotel_Address", "Positive_Review", "Negative_Review", "lat", "lng"]].head()

In [86]:
hotel_country('France')

,Hotel_Name,Average_Score,Hotel_Address,Positive_Review,Negative_Review,lat,lng
0,H tel de La Tamise Esprit de France,9.6,4 rue d Alger 1st arr 75001 Paris France,A Fantastic hotel situated in the heart of Pa...,Nothing to dislike,48.864866,2.329576
1,Hotel The Peninsula Paris,9.5,19 avenue Kleber 16th arr 75116 Paris France,Hotel interior design and exterior too,Every thing from staff to room cleaning to th...,48.871060,2.293354
2,Le Narcisse Blanc Spa,9.5,19 Boulevard De La Tour Maubourg 7th arr 75007...,It was simply perfect Decor and amenities wer...,Would have been useful to have a handrail at ...,48.860512,2.310653
3,Hotel Eiffel Blomet,9.4,78 Rue Blomet 15th arr 75015 Paris France,Brand new hotel very clean and comfortable be...,The Internet conection was very poor,48.841679,2.302286
4,Nolinski Paris,9.4,16 Avenue de l Opera 1st arr 75001 Paris France,The best interior design I ever saw in my life,Nothing,48.865487,2.334892