In [1]:
import pandas as pd
import numpy as np

In [2]:
url= "https://ralston-hotel-data-bucket.s3.amazonaws.com/Hotel_Reviews_Clean.csv"

In [3]:
hotel_df = pd.read_csv(url)

In [4]:
hotel_df.head()

,Unnamed: 0,Hotel_Address,Additional_Number_of_Scoring,Review_Date,Average_Score,Hotel_Name,Reviewer_Nationality,Negative_Review,Review_Total_Negative_Word_Counts,Total_Number_of_Reviews,Positive_Review,Review_Total_Positive_Word_Counts,Total_Number_of_Reviews_Reviewer_Has_Given,Reviewer_Score,Tags,days_since_review,lat,lng,Hotel_Country,Sentiment
0,0,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,2017-08-03,7.7,Hotel Arena,Russia,I am so angry that i made this post available...,397,1403,Only the park outside of the hotel was beauti...,11,7,2.9,"[' Leisure trip ', ' Couple ', ' Duplex Double...",0 days,52.360576,4.915968,Netherlands,Negative
1,1,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,2017-08-03,7.7,Hotel Arena,Ireland,No Negative,0,1403,No real complaints the hotel was great great ...,105,7,7.5,"[' Leisure trip ', ' Couple ', ' Duplex Double...",0 days,52.360576,4.915968,Netherlands,Positive
2,2,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,2017-07-31,7.7,Hotel Arena,Australia,Rooms are nice but for elderly a bit difficul...,42,1403,Location was good and staff were ok It is cut...,21,9,7.1,"[' Leisure trip ', ' Family with young childre...",3 days,52.360576,4.915968,Netherlands,Positive
3,3,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,2017-07-31,7.7,Hotel Arena,United Kingdom,My room was dirty and I was afraid to walk ba...,210,1403,Great location in nice surroundings the bar a...,26,1,3.8,"[' Leisure trip ', ' Solo traveler ', ' Duplex...",3 days,52.360576,4.915968,Netherlands,Negative
4,4,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,2017-07-24,7.7,Hotel Arena,New Zealand,You When I booked with your company on line y...,140,1403,Amazing location and building Romantic setting,8,3,6.7,"[' Leisure trip ', ' Couple ', ' Suite ', ' St...",10 days,52.360576,4.915968,Netherlands,Positive

In [5]:
#create random sample of original dataset - 5% sample
hotel_sample_df = hotel_df.sample(frac=.05)

In [6]:
hotel_sample_df.head()

,Unnamed: 0,Hotel_Address,Additional_Number_of_Scoring,Review_Date,Average_Score,Hotel_Name,Reviewer_Nationality,Negative_Review,Review_Total_Negative_Word_Counts,Total_Number_of_Reviews,Positive_Review,Review_Total_Positive_Word_Counts,Total_Number_of_Reviews_Reviewer_Has_Given,Reviewer_Score,Tags,days_since_review,lat,lng,Hotel_Country,Sentiment
407200,408924,Piazza Luigi di Savoia 20 Central Station 2012...,264,2017-06-05,8.7,Starhotels Anderson,United States of America,The fan unit rattled all night long Next morn...,49,2698,Relatively modern updated hotel,6,3,5.0,"[' Leisure trip ', ' Family with young childre...",59 days,45.485255,9.206950,Italy,Negative
212198,212580,54 Upper Berkeley Street Westminster Borough L...,130,2015-10-23,8.5,The Sumner Hotel,United Kingdom,No Negative,0,762,Very stylish hotel High quality furnishings a...,31,4,9.6,"[' Leisure trip ', ' Family with older childre...",650 day,51.515289,-0.160898,UK,Positive
38507,38507,12 Lancaster Gate Lancaster Gate Westminster B...,440,2017-07-08,8.0,Best Western Mornington Hotel Hyde Park,United States of America,Small rooms with natrow corridors There was a...,29,2418,Small comfortable hotel within walking distan...,20,15,7.5,"[' Leisure trip ', ' Couple ', ' Economy Doubl...",26 days,51.511993,-0.178279,UK,Positive
420894,422618,Prinses Irenestraat 30 Zuideramstel 1077 WX Am...,726,2015-12-15,8.6,citizenM Amsterdam,Netherlands,No window to open,6,4530,Room was small but with all the necessary fac...,24,6,7.9,"[' Leisure trip ', ' Couple ', ' Double Room '...",597 day,52.341943,4.875960,Netherlands,Positive
346977,347659,IJdock 6 Amsterdam City Center 1013 MM Amsterd...,550,2017-04-08,8.8,Room Mate Aitana,United Kingdom,Lots of noise from outside early in the morning,11,4097,Bar was good value for money and the staff we...,14,9,9.6,"[' Leisure trip ', ' Couple ', ' Queen or Two ...",117 day,52.384606,4.894187,Netherlands,Positive

In [7]:
from ast import literal_eval

In [8]:
def impute(column):
    column = column[0]
    if (type(column) != list):
        return "".join(literal_eval(column))
    else:
        return column
    
hotel_sample_df["Tags"] = hotel_sample_df[["Tags"]].apply(impute, axis=1)
hotel_sample_df.head()

,Unnamed: 0,Hotel_Address,Additional_Number_of_Scoring,Review_Date,Average_Score,Hotel_Name,Reviewer_Nationality,Negative_Review,Review_Total_Negative_Word_Counts,Total_Number_of_Reviews,Positive_Review,Review_Total_Positive_Word_Counts,Total_Number_of_Reviews_Reviewer_Has_Given,Reviewer_Score,Tags,days_since_review,lat,lng,Hotel_Country,Sentiment
407200,408924,Piazza Luigi di Savoia 20 Central Station 2012...,264,2017-06-05,8.7,Starhotels Anderson,United States of America,The fan unit rattled all night long Next morn...,49,2698,Relatively modern updated hotel,6,3,5.0,Leisure trip Family with young children 2 r...,59 days,45.485255,9.206950,Italy,Negative
212198,212580,54 Upper Berkeley Street Westminster Borough L...,130,2015-10-23,8.5,The Sumner Hotel,United Kingdom,No Negative,0,762,Very stylish hotel High quality furnishings a...,31,4,9.6,Leisure trip Family with older children Exe...,650 day,51.515289,-0.160898,UK,Positive
38507,38507,12 Lancaster Gate Lancaster Gate Westminster B...,440,2017-07-08,8.0,Best Western Mornington Hotel Hyde Park,United States of America,Small rooms with natrow corridors There was a...,29,2418,Small comfortable hotel within walking distan...,20,15,7.5,Leisure trip Couple Economy Double Room St...,26 days,51.511993,-0.178279,UK,Positive
420894,422618,Prinses Irenestraat 30 Zuideramstel 1077 WX Am...,726,2015-12-15,8.6,citizenM Amsterdam,Netherlands,No window to open,6,4530,Room was small but with all the necessary fac...,24,6,7.9,Leisure trip Couple Double Room Stayed 1 n...,597 day,52.341943,4.875960,Netherlands,Positive
346977,347659,IJdock 6 Amsterdam City Center 1013 MM Amsterd...,550,2017-04-08,8.8,Room Mate Aitana,United Kingdom,Lots of noise from outside early in the morning,11,4097,Bar was good value for money and the staff we...,14,9,9.6,Leisure trip Couple Queen or Two Double Bed...,117 day,52.384606,4.894187,Netherlands,Positive

In [9]:
hotel_sample_df['Hotel_Country'] = hotel_sample_df['Hotel_Country'].str.lower()
hotel_sample_df['Tags'] = hotel_sample_df['Tags'].str.lower()

In [10]:
import nltk
nltk.download('wordnet')
import numpy as np
import pandas as pd
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
from nltk.stem.wordnet import WordNetLemmatizer
from ast import literal_eval

[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\16513\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

In [11]:
def recommend_hotel(location, description):
    description = description.lower()
    word_tokenize(description)
    stop_words = stopwords.words('english')
    lemm = WordNetLemmatizer()
    filtered  = {word for word in description if not word in stop_words}
    filtered_set = set()
    for fs in filtered:
        filtered_set.add(lemm.lemmatize(fs))
        
    country = hotel_sample_df[hotel_sample_df["Hotel_Country"]==location.lower()]
    country = country.set_index(np.arange(country.shape[0]))
    list1 = []; list2 = []; cos = [];
    for i in range(country.shape[0]):
        temp_token = word_tokenize(country["Hotel_Country"][i])
        temp_set = [word for word in temp_token if not word in stop_words]
        temp2_set = set()
        for s in temp_set:
                temp2_set.add(lemm.lemmatize(s))
        vector = temp2_set.intersection(filtered_set)
        cos.append(len(vector))
    country['similarity']=cos
    country = country.sort_values(by='similarity', ascending=False)
    country.drop_duplicates(subset='Hotel_Name', keep='first', inplace=True)
    country.sort_values('Average_Score', ascending=False, inplace=True)
    country.reset_index(inplace=True)
    return country[["Hotel_Name", "Average_Score", "Hotel_Address"]].head()

In [12]:
recommend_hotel('UK', 'pool')

,Hotel_Name,Average_Score,Hotel_Address
0,Haymarket Hotel,9.6,1 Suffolk Place Westminster Borough London SW1...
1,41,9.6,41 Buckingham Palace Road Westminster Borough ...
2,Milestone Hotel Kensington,9.5,1 Kensington Court Kensington and Chelsea Lond...
3,Charlotte Street Hotel,9.5,15 17 Charlotte Street Hotel Westminster Borou...
4,The Soho Hotel,9.5,4 Richmond Mews Westminster Borough London W1D...

In [13]:
#country only
def hotel_country(location):
    stop_words = stopwords.words('english')
    lemm = WordNetLemmatizer()
    filtered  = {word for word in location if not word in stop_words}
    filtered_set = set()
    for fs in filtered:
        filtered_set.add(lemm.lemmatize(fs))
       
    country = hotel_sample_df[hotel_sample_df["Hotel_Country"]==location.lower()]
    country = country.set_index(np.arange(country.shape[0]))
    list1 = []; list2 = []; cos = [];
    for i in range(country.shape[0]):
        temp_token = word_tokenize(country["Hotel_Country"][i])
        temp_set = [word for word in temp_token if not word in stop_words]
        temp2_set = set()
        for s in temp_set:
                temp2_set.add(lemm.lemmatize(s))
        vector = temp2_set.intersection(filtered_set)
        cos.append(len(vector))
    country['similarity']=cos
    country = country.sort_values(by='similarity', ascending=False)
    country.drop_duplicates(subset='Hotel_Name', keep='first', inplace=True)
    country.sort_values('Average_Score', ascending=False, inplace=True)
    country.reset_index(inplace=True)
    return country[["Hotel_Name", "Average_Score", "Hotel_Address", "Positive_Review", "Negative_Review", "lat", "lng"]].head()

In [14]:
hotel_country('France')

,Hotel_Name,Average_Score,Hotel_Address,Positive_Review,Negative_Review,lat,lng
0,Ritz Paris,9.8,15 Place Vend me 1st arr 75001 Paris France,Excellent hotel food and drinks exceptional R...,Rooms could be larger,48.867947,2.328959
1,H tel de La Tamise Esprit de France,9.6,4 rue d Alger 1st arr 75001 Paris France,Exceptional customer service,None,48.864866,2.329576
2,Hotel The Peninsula Paris,9.5,19 avenue Kleber 16th arr 75116 Paris France,Top class hotel in any way But not cheap,We had some issues at the end but they were s...,48.871060,2.293354
3,Le Narcisse Blanc Spa,9.5,19 Boulevard De La Tour Maubourg 7th arr 75007...,Exceptional location in the middle of all the...,No Negative,48.860512,2.310653
4,H tel D Aubusson,9.4,33 Rue Dauphine 6th arr 75006 Paris France,the warm welcome the friendlinesses of the st...,No Negative,48.854733,2.339528